body{
    overflow: hidden;
    /* border: 3px solid red; */
    /* padding-top: 3.5em; */
}
/* 
.padding{
    padding-top: 3.5em;
    padding-bottom: 3.5em;
} */

.block{
    display: block;
    padding-top: 3.5em;
    padding-bottom: 3.5em;
    text-decoration: none;
    color: white;
    /* border: 3px solid rgb(0, 226, 38); */
}

.block:hover{
    color: white;
}
